!!! 5
%html
  %head
    %link{href: "/css/main.css", rel: "stylesheet"}/
    %script{src: "http://code.jquery.com/jquery-2.0.3.js"}
    %script{src: "/script/main.js"}
    %title Poster Finder for 2014年 大阪市長選挙 マック赤坂陣営
  %body
    #mask
      %img{:src => '/img/ajax-loader-large.gif'}
    %p#status
      %a{:href => 'https://docs.google.com/document/d/15pX9iOv_o1OozpdlVYPx-GQP7WAaSXSrOj_x_5FL4Qk/edit?usp=sharing', :target => '_blank'} （はじめにお読みください）操作マニュアル
      %a{:href => '/auth/twitter'} Twitterユーザの切り替え
    #wrap
      #tweets
        %h2 Twitter
        %table#twitter_search_ui
          %tr
            %td
              %input#radio_search_type_keyword{:type => :radio, :name => :search_type, :value => :keyword, :checked => :checked}
              %label{:for => :radio_search_type_keyword} キーワードでツィートを検索
            %td.column_2
              %label{:for => :tweet_filter} キーワード:
            %td
              %input{:type => :search, :name => :tweet_filter, :id => :tweet_filter, :size => 15}
            %td{:rowspan => 2}
              %input#search_tweets_button{:type => :button, :value => '検索'}
              %img.loading{:src => '/img/ajax-loader.gif'}
          %tr
            %td
              %input#radio_search_type_screen_name{:type => :radio, :name => :search_type, :value => :screen_name}
              %label{:for => :radio_search_type_screen_name} 指定したユーザのツィートを表示
            %td.column_2
              %label{:for => :screen_name} ユーザ名:
            %td
              %select#followers{:name => :followers}
              %input{:type => :search, :name => :screen_name, :id => :screen_name, :size => 12}
        .content
          %table
        -#%input{:type => :button, :value => '次の100件を取得', :id => :next_100_button}
      #issues
        %h2 Shirasete
        %label{:for => :categories}
          地域を選択（
          %a#help_categories{:href => '/#'} ？
          ）:
        %select#categories{:name => :category}
        %input#enable_auto_search{:type => :checkbox, :name => :enable_auto_search} 
          地域選択で同時にTwitter検索する（
          %a#help_enable_auto_search{:href => '/#'} ？
          ）
        %br
        %label{:for => :filter_issues_button}
          掲示板番号で絞り込み（
          %a#help_filter_issues_button{:href => '/#'} ？
          ）:
        %input{:type => :search, :name => :issue_filter, :id => :issue_filter, :size => 30}
        %input{:type => :button, :value => '絞り込み', :id => 'filter_issues_button'}
        %img.loading{:src => '/img/ajax-loader.gif'}
        .content
          %table
