!!! 5
%html
  %head
    %link{href: "/css/main.css", rel: "stylesheet"}/
    %script{src: "http://code.jquery.com/jquery-2.0.3.js"}
    %script{src: "/script/main.js"}
    %title Poster Finder
  %body
    #mask
      %img{:src => '/img/ajax-loader-large.gif'}
    %p#status
      %a{:href => 'https://docs.google.com/document/d/1K11vD7mYJTtC-BmFsicOIb_07YH1chh60QqLEmn6Xs8/edit?usp=sharing', :target => '_blank'} （はじめにお読みください）操作マニュアル
      %a{:href => '/auth/twitter'} Twitterユーザの切り替え
    #wrap
      #tweets
        %h2 Twitter
        %input{:type => :radio, :name => :search_type, :value => :keyword, :checked => :checked}
        %label{:for => :tweet_filter} キーワード:
        %input{:type => :search, :name => :tweet_filter, :id => :tweet_filter, :size => 15}
        %input{:type => :radio, :name => :search_type, :value => :screen_name}
        %label{:for => :screen_name} ユーザ名:
        %select#followers{:name => :followers}
        %input{:type => :search, :name => :screen_name, :id => :screen_name, :size => 15}
        %input{:type => :button, :value => '検索', :id => 'search_tweets_button'}
        %img.loading{:src => '/img/ajax-loader.gif'}
        .content
          %table
        -#%input{:type => :button, :value => '次の100件を取得', :id => :next_100_button}
      #issues
        %h2 Shirasete
        %select#categories{:name => :category}
        %input{:type => :checkbox, :name => :enable_auto_search, :id => :enable_auto_search} 区名でTwitter検索する
        %input{:type => :search, :name => :issue_filter, :id => :issue_filter, :size => 30}
        %input{:type => :button, :value => '絞り込み', :id => 'filter_issues_button'}
        %img.loading{:src => '/img/ajax-loader.gif'}
        .content
          %table
